<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8" />
        <title>Register</title>
    </head>
    <body>
        <h2>Register</h2>
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Name" />
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="confirm-password" placeholder="Confirm Password" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>