@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    background-color: lavender;
    color: #333;
}

/* HEADER */
header {
    background-color: #444;
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #444;
}

.nav-left {
    display: flex;
    gap: 40px;
}

.user-authentication {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #FAE;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav a:hover {
    color: white;
}