@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root {
    --main-color: #c41e67;
    --dark-color: #a71555;
    --step-color: #ced7e0;
    --step-size: 32px;
    /*--steps: 4;*/
    --progress-width: calc((var(--steps) - 1) / var(--steps) * 100%);
}

header {
    background-color: #444;
    color: #FAE;
    padding: 5px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    color: #FAE;
    padding: 5px 20px;
}

.user-authentication a {
    margin-left: 20px;
    text-decoration: none;
    color: #FAE;
}
a:visited{
    color: #FAF;
}
body {
    min-height: 100vh;
    background-color: lavender;
    color: #333;
}
.build-form {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: min(500px, 90%);
    box-shadow: 0 4px 16px rgba(167, 21, 84, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 15px;
}

.progress-container {
    position: relative;
}

.progress-container .progress {
    height: 4px;
    width: var(--progress-width);
    background-color: var(--main-color);
    position: absolute;
    top: calc(var(--step-size) / 2);
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.progress-container::before {
    content: '';
    height: 4px;
    width: var(--progress-width);
    background-color: var(--step-color);
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: calc(var(--step-size) / 2);
}

.progress-container ol {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: calc(var(--step-size) / 2);
    padding-right: calc(var(--step-size) / 2);
    counter-reset: step-number;
    position: relative;
    z-index: 3;
}

.progress-container li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--step-color);
    transition: 0.3s linear 0.3s;
}

    .progress-container li::before {
        counter-increment: step-number;
        content: counter(step-number);
        background-color: var(--step-color);
        width: var(--step-size);
        height: var(--step-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        transition: 0.3s linear 0.3s;
        font-size: 1rem;
    }

.progress-container li:where(.done, .current) {
    color: #333;
    font-weight: 500;
}

.progress-container li.done::before {
    background-color: var(--main-color);
}

.progress-container li.current::before {
    background-color: var(--main-color);
    box-shadow: 0 0 0 3px rgba(167, 21, 84, 0.25);
}
button {
    cursor: pointer;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.875rem;
    transition: 0.3s;
}

button:active,
button:hover {
    background-color: var(--dark-color);
}

button:disabled {
    opacity: 0.8;
}

button:focus {
    outline-color: #333;
}

button[type="submit"] {
    background-color: #333;
}

button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: #444;

}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;
    padding-inline: 8px;
}

.controls button {
    flex: 1;
}

.steps-container{
    display:flex;
    overflow:hidden;
}
.steps{
    flex: 1 0 100%;
    padding: 24px 8px;
    opacity:0;
    transition : opacity 0.3s;
    height: fit-content;
}
.steps.current{
    opacity:1;
}

.choose-content, .create-content {
    display: none;
}
