{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'users/home_styles.css' %}">
</head>
<body>

<header>
    <nav>
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/workouts">Workouts</a>
            <a href="/exercises">Exercises</a>
            <a href="/build">Build A Plan</a>
        </div>

        <div class="user-authentication">
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </div>
    </nav>
</header>

<main>
    <h2>Home Page</h2>
</main>

</body>
</html>